{% extends 'base.html' %}
{% block content %}
<div class="home-hero">
    <h2>All pins</h2>
    <p>Click on the plant name to see the map and pin for that entry!</p>

    <table class="table">
        <tr>
            <th><b>Plant</b></th>
            <th><b>Date</b></th>
            <th><b>Latitude</b></th>
            <th><b>Longitude</b></th>
        </tr>
        {%for pin in plant_pins%}
        <tr>
            <td><a href="/pins/{{pin.id}}">{{pin.plant}}</a></td>
            <td>{{pin.date}}</td>
            <td>{{pin.latitude}}</td>
            <td>{{pin.longitude}}</td>
        </tr>
        {%endfor%}


    </table>
</div>
{% endblock %}