body {
  background-color: #C1E1C2;
}

h1,
h2 {
  color: #537354;
}

a {
  color: #6A8A6B;
}

.navbar {
  background-color: #7E9E7F;
  padding: 15px;
}

.navbar a {
  /* float: left; */
  color: #E1F3E2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn {
  background-color: #E1F3E2;
  color: #6A8A6B;
  border-color: #6A8A6B;
}

.btn:hover {
  background-color: #6A8A6B;
  color: #E1F3E2;
  border-color: #6A8A6B;
}

.icon {
  height: 50px;
}