{% extends 'base.html' %}
{% block content %}
<div class="row">
    <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
        <p>
        <div class="card user-card">

            <div>
                <a href="/users/{{ g.user.id }}" class="card-link">
                    <p>@{{ g.user.username }}</p>
                </a>
                <a href="/map">View Map/Add Pin</a><br>
                <a href="/view_pins">View All Pins List (no map)</a><br>
                <a href="/edit/{{g.user.id}}">Edit user info</a><br>
            </div>
        </div>
        </p>
    </aside>
    <h2>My Pins</h2>
    <div class="home-hero">
        <table class="table">
            <tr>
                <th><b>Plant</b></th>
                <th><b>Date</b></th>
                <th><b>Latitude</b></th>
                <th><b>Longitude</b></th>
            </tr>
            {%for pin in g.user.pins%}
            <tr>
                <td><a href="pins/{{pin.id}}">{{pin.plant}}</a></td>
                <td>{{pin.date}}</td>
                <td>{{pin.latitude}}</td>
                <td>{{pin.longitude}}</td>
                <td><a href="/pins/delete/{{pin.id}}" methods="GET"><button
                            class="btn btn-primary btn-sm btn-block">Delete
                        </button></a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
{% endblock %}