{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <p>
        <h2 class="join-message">Edit Your Profile.</h2>
        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <p>{{ field(placeholder=field.label.text, class="form-control") }}</p>
            {% endfor %}

            <p>To confirm changes, enter your password:
                {% if form.password.errors %}
                {% for error in form.password.errors %}
                <span class="text-danger">
                    {{ error }}
                </span>
            </p>
            {% endfor %}
            {% endif %}
            {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

            <div class="edit-btn-area">
                <button class="btn btn-success">Edit your information!</button>
                <a href="/users/{{ user_id }}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
        </p>
    </div>
</div>

{% endblock %}