{% extends 'base.html' %}
{% block content %}
<div class="row">

    <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
        <p>
        <div class="card user-card">

            <div>
                Username:
                {{user.username }}
            </div>

        </div>
        </p>
    </aside>


    <div class="home-hero">
        <h2>{{user.username}}'s Pins</h2>
        Click the plant name to see a map!
        <table class="table">
            <tr>
                <th><b>Plant</b></th>
                <th><b>Date</b></th>
                <th><b>Latitude</b></th>
                <th><b>Longitude</b></th>
            </tr>
            {%for pin in user.pins%}
            <tr>
                <td><a href="/pins/{{pin.id}}">{{pin.plant}}</a></td>
                <td>{{pin.date}}</td>
                <td>{{pin.latitude}}</td>
                <td>{{pin.longitude}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>




</div>
{% endblock %}